$navy: #0f223c;
$orange: #f03107;

.has-text-navy {
  color: $navy;
}
.has-background-navy,
.is-navy {
  background: $navy;
}
.has-text-orange {
  color: $orange;
}
.has-background-orange,
.is-orange {
  background: $orange;
}
